*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f3f4f6;
}


/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:white;

border-bottom:1px solid #ddd;

}

.logo{

font-weight:600;

color:#2563eb;

}

.cart{

font-size:20px;

position:relative;

}

.cart-count{

background:red;

color:white;

font-size:12px;

padding:3px 6px;

border-radius:50%;

position:absolute;

top:-8px;

right:-10px;

}


/* HERO */

.hero{

display:flex;

align-items:center;

height:260px;

background:linear-gradient(90deg,#1e40af,#2563eb);

color:white;

padding-left:80px;

}

.hero-text{

max-width:500px;

}

.hero h1{

font-size:32px;

margin-bottom:10px;

}

.hero p{

margin-bottom:20px;

}

.hero button{

background:#f59e0b;

border:none;

padding:10px 20px;

border-radius:5px;

cursor:pointer;

font-weight:600;

}


/* PRODUTOS */

.products-section{

padding:50px 0;

text-align:center;

}

.products-section h2{

margin-bottom:5px;

}

.subtitle{

color:#6b7280;

margin-bottom:30px;

}


/* GRID PRODUTOS */

.products{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:30px;

max-width:800px;

margin:0 auto;

}


/* CARD */

.card{

display:flex;

flex-direction:column;

align-items:center;

background:white;

width:220px;

padding:20px;

border-radius:8px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.card img{

width:100%;

height:150px;

object-fit:cover;

border-radius:6px;

margin-bottom:10px;

}

.card h3{

font-size:15px;

margin-bottom:8px;

text-align:center;

}

.price{

color:#2563eb;

font-weight:600;

margin-bottom:10px;

}

.card button{

background:#2563eb;

color:white;

border:none;

padding:8px;

border-radius:5px;

cursor:pointer;

width:100%;

}


/* FOOTER */

.footer{

background:#0f172a;

color:white;

padding:30px 80px;

margin-top:40px;

}

.footer-container{

display:flex;

justify-content:space-between;

max-width:1000px;

margin:auto;

}